<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>QR-code</title>
</head>
<body>
<img id="qr-img" width="420" height="420"/>
<script>
    const img = document.getElementById('qr-img');

    function drawQR() {
        fetch("/getQRData")
            .then(response => response.text())
            .then(data => {
                console.log(data);
                const imgUrl = `/code?qrData=${data}`;
                img.setAttribute("src", imgUrl);
            });
    }

    setInterval(drawQR, 1000);
    drawQR();
</script>
</body>
</html>
